<p-table [value]="personas" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            
            <th>DNI</th>
            <th>NOMBRE</th>
            <th>DIRECCION</th>
            <th>CIUDAD</th>
            <th>TIPODEPERSONAS</th>
            <th>TELEFONO</th>
        
        </tr>
    </ng-template>
    
<ng-template pTemplate="body" let-persona>
    <tr>
       
        <td>{{ persona.dni}}</td>
        <td>{{ persona.nombre}}</td>
        <td>{{ persona.direccion}}</td>
        <td>{{persona.ciudad}}</td>
        <td>{{persona.tipodepersonas}}</td>
        <td>{{ persona.telefono}}</td>
        
    </tr>
</ng-template>
</p-table>
